.canvas {
    &__box {
        width: 10rem;
        height: 10rem;
        color: rgb(230 230 240);
        cursor: move;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.4rem;
        font-family: "Roboto";
        border: solid rgb(133, 133, 133) 2px;
        border-radius: 4px;
        position: absolute;
        z-index: 50;
        padding: 2rem;
        transition: 0.3 all;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);
            
    }

    &__box:active {
        box-shadow: 0 5px 5px -3px rgba(30, 30, 30),
            0 8px 10px 1px rgba(30, 30, 30),
            0 3px 14px 2px rgba(30, 30, 30);

    }
    &__box--dragging{
        //scale
        animation: reduce 0.3s ;

        color: rgb(230 230 240);
        cursor: move;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.4rem;
        font-family: "Roboto";
        border: solid rgb(133, 133, 133) 2px;
        border-radius: 4px;
        position: absolute;
        z-index: 999;
        width: 7rem;
        height: 7rem;
        padding: 1rem;
    }

    &__menu{
        
    }
    &__menu button{
        background-color: rgb(30, 30, 30);
        border: solid rgb(230 230 240) 1px ;
        color: rgb(230 230 240);
        padding: 0.5rem;
        font-size: 1.2rem;
        font-family: "Roboto";
        cursor: pointer;
        transition: 0.3s all;
    }

    &__menu--visible{
        background-color: rgb(18, 18, 18);
        border: solid rgb(230 230 240) 1px;
        position: absolute;

        z-index: 300;
        width: 10rem;
        display: flex;
        flex-direction: column;
        transform: translateY(5px);
        animation: increase 0.3s;
        
    }
    &__menu--hidden{
        display: none;

    }
}
@keyframes reduce {
    0% {
        width: 10rem;
        height: 10rem;
    }
    100% {
        width: 7rem;
        height: 7rem;
    }
}

@keyframes increase {
    0%{
        width:0rem;
        height: 0;
    }
    100%{
        width: 10rem;
        height: 100%;
    }
}



    
.hold {
    padding: 30px 30px !important;
    transition-duration: 3s;
}

.release {
    padding: 10px 20px !important;
    transition-duration: 1s;
}

