.canvas {

    &__boundary{
        width: 70vw;
        height: 70vh;
        max-width: 100%;
        margin-right: 4rem;
        margin-left: 4rem;
        border: solid rgb(30,30,30) 2px;
        background-image: url("cruces2.png");
        background-repeat: repeat;
        background-size: 7px 7px;
    }
  }
