.properties {
  width: 100%;
  height: 100vh;
  margin-top: 8rem;
  background-color: #191b27e8;

  box-shadow: -1rem 0rem 2rem rgba(230, 230, 240, 0.3);
  position: absolute;
  z-index: 9999;
}

.property__title {
  background-color: #13141c;
  cursor: row-resize;
  width: 25rem;
  height: 3rem;
  border: 1px solid #555;
  
}

.property__title:hover{
  border-color: rgb(230 230 240);

  cursor: pointer;
}

.active-window{
  color: rgb(230 230 240);
  border-color: rgb(230 230 240);
}


.property__text {
  color:#ccc;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: -2px;
  text-align: center;
}

.property__titles{
  display: flex;

}