<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main id="main">
  <div
  #componentContainer
  id="component_container"
  style="position: absolute; z-index: 1; width: 100%"
></div>
<div id="overlay" class="overlay" *ngIf="controller.connectionMode" >

</div>
  <app-navigation-bar></app-navigation-bar>
  <app-toolbar [controller]="this.controller"></app-toolbar>
  <div class="flex-container">
    <app-topology [controller]="this.controller"></app-topology>

  </div>
  <div class="properties_limit">
  <app-properties [controller]="this.controller"></app-properties>
  </div>
  <router-outlet></router-outlet>
</main>
