

.objects {
    height: 80vh;
    width: 20vw;
    margin: 2rem;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    box-shadow: 0rem -0.1rem 3rem rgba(230, 230, 240, 0.3);

    &__content{
    }
  }

  .figures {
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    height: 4rem;
    color: rgb(230 230 240);
    align-items: center;
    gap: 0.5rem;
  }
  
  .figure__icon {
    height: 1.5rem;
  }
  
  .figures__text {
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: -1px;
  }
  
  .figure__content {
    display: flex;
    align-items: center;
    color: rgb(230 230 240);
    margin-top: 1rem;
    padding: 0.1rem 2rem;
    width: 100%;
    transition: 0.5s;
    gap: 1rem;
  }
  
  .figure__content:hover {
    background-color: rgb(230 230 240);
    color: rgb(18, 18, 18);
    transform: scale(1.05);
    cursor: pointer;
  }
   
  .options {
    display: flex;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 3rem;
    &__objects {
      border-top-left-radius: 10px;
    }
    &__workguide{
      width: 100%;
      border-top-right-radius: 10px;
      // border-top: 1px #555 solid;
      // border-right: 1px #555 solid;
    }
  }
  
  .option {
    padding: 1rem 1.5rem;
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px; */
    cursor: pointer;
  }
  
  .active{
    background-color: rgb(230 230 240);
    color: rgb(18, 18, 18);
    
    &--objects {
      border-top-left-radius: 10px;
    }
    &--workguide{
      flex: 1;
      border-top-right-radius: 10px;
    }
  }
  
  .unactive{
    color: #555;
    --objects {
      border-top-left-radius: 10px;
    }
    --workguide{
      border-top-right-radius: 10px;
    }
   
  }