<div
  class="objects"
  [ngClass]="{
    minimize: this.minimize,
    'objects--moving': this.moving,
    maximize: this.maximize
  }"
  (cdkDragMoved)="this.moving = true"
  (cdkDragEnded)="this.moving = false"
  cdkDrag
>
  <div class="options">
    <p
      class="option"
      [ngClass]="{
        'active active--objects': objetosActivo,
        'unactive unactive--objects': !objetosActivo
      }"
      (click)="objetosActivo = true"
    >
      Objetos
    </p>
    <p
      class="option"
      [ngClass]="{
        'active active--workguide': !objetosActivo,
        'unactive unactive--objects': objetosActivo
      }"
      (click)="objetosActivo = false"
    >
      Guia de trabajos
    </p>
    <div
      class="option__minimize"
      (click)="this.minimize = !this.minimize; this.maximize = !this.minimize"
    >
      <p>{{ minimize ? "+" : "-" }}</p>
    </div>
  </div>

  <!-- Objects Content-->
  <div class="objects__content" *ngIf="objetosActivo && !minimize">
    <!-- Figures -->
    <div class="figures" (click)="FiguresClick()">
      <svg
        class="figure__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
      >
        <rect width="256" height="256" fill="none" />
        <polyline
          points="208 96 128 176 48 96"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
      </svg>
      <p class="figures__text">Figuras</p>
    </div>
    <hr class="hr" />
    <div
      id="figures_box"
      class="figure__box"
      [ngClass]="{
        figures__visible: FiguresActive,
        figures__hidden: !FiguresActive
      }"
    >
      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <circle
            cx="128"
            cy="128"
            r="96"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text light__weight">Circulo</p>
      </div>

      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <rect
            x="32"
            y="48"
            width="192"
            height="160"
            rx="8"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text light__weight">Rectangulo</p>
      </div>
    </div>

    <!-- Devices -->
    <div class="figures" (click)="DevicesClick()">
      <svg
        class="figure__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
      >
        <rect width="256" height="256" fill="none" />
        <polyline
          points="208 96 128 176 48 96"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
      </svg>
      <p class="figures__text">Dispositivos</p>
    </div>
    <!--Devices list-->
    <hr class="hr" />

    <div
      id="devices_box"
      class="figure__box"
      [ngClass]="{
        figures__visible: DevicesActive,
        figures__hidden: !DevicesActive
      }"
    >
      <div
        class="figure__content"
        (mousedown)="CreateItem('assets/img/cliente.png', 'Client', $event)"
      >
        <img class="icon__img" src="assets/img/cliente.png" alt="" />
        <p class="figures__text light__weight">Cliente</p>
      </div>
      <div
        class="figure__content"
        (mousedown)="CreateItem('assets/img/servidor.png', 'Server', $event)"
      >
        <img class="icon__img" src="assets/img/servidor.png" alt="" />
        <p class="figures__text light__weight">Servidor</p>
      </div>

      <div
        class="figure__content"
        (mousedown)="CreateItem('assets/img/switch.png', 'Switch', $event)"
      >
        <img class="icon__img" src="assets/img/switch.png" alt="" />
        <p class="figures__text light__weight">Switch</p>
      </div>
    </div>

    <!-- Connections -->

    <div class="figures" (click)="ConnectionsClick()">
      <svg
        class="figure__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
      >
        <rect width="256" height="256" fill="none" />
        <polyline
          points="208 96 128 176 48 96"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
      </svg>

      <p class="figures__text">Conexiones</p>
    </div>
    <!--Connections list-->
    <hr class="hr" />
    <div
      id="connections_box"
      class="figure__box"
      [ngClass]="{
        figures__visible: ConnectionsActive,
        figures__hidden: !ConnectionsActive
      }"
    >
      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <circle
            cx="64"
            cy="192"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <circle
            cx="192"
            cy="64"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <line
            x1="175.03"
            y1="80.97"
            x2="80.97"
            y2="175.03"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text light__weight">Cable UTP-C5</p>
      </div>

      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <circle
            cx="64"
            cy="192"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <circle
            cx="192"
            cy="64"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <line
            x1="175.03"
            y1="80.97"
            x2="80.97"
            y2="175.03"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text light__weight">Fibra optica</p>
      </div>
    </div>
  </div>
</div>
