
<div class="objects">
    <div class="options">
      <p class="option active">Objetos</p>
      <p class="option unactive">Guia de trabajos</p>
    </div>

    <div class="objects__content">
      <div class="figures">
        <svg
          class="figure__icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <polyline
            points="208 96 128 176 48 96"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Figuras</p>
      </div>

      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <circle
            cx="128"
            cy="128"
            r="96"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Circulo</p>
      </div>

      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <rect
            x="32"
            y="48"
            width="192"
            height="160"
            rx="8"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Rectangulo</p>
      </div>

      <div class="figures">
        <svg
          class="figure__icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <polyline
            points="208 96 128 176 48 96"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Dispositivos</p>
      </div>

      <div class="figure__content">
        <img class="icon__img" src="img/cliente.png" alt="" />
        <p class="figures__text">Cliente</p>
      </div>

      <div class="figure__content">
        <img class="icon__img" src="img/servidor.png" alt="" />
        <p class="figures__text">Servidor</p>
      </div>

      <div class="figure__content">
        <img class="icon__img" src="img/switch.png" alt="" />
        <p class="figures__text">Switch</p>
      </div>

      <div class="figures">
        <svg
          class="figure__icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <polyline
            points="208 96 128 176 48 96"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Conexiones</p>
      </div>

      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <circle
            cx="64"
            cy="192"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <circle
            cx="192"
            cy="64"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <line
            x1="175.03"
            y1="80.97"
            x2="80.97"
            y2="175.03"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Cable UTP-C5</p>
      </div>

      <div class="figure__content">
        <svg
          class="circle"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <circle
            cx="64"
            cy="192"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <circle
            cx="192"
            cy="64"
            r="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
          <line
            x1="175.03"
            y1="80.97"
            x2="80.97"
            y2="175.03"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
          />
        </svg>
        <p class="figures__text">Fibra optica</p>
      </div>
    </div>
  </div>
