.objects {
  height: 60vh;
  width: 20vw;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5vw;
  background-color: #13141c;
  border-radius: 30px;
  position: absolute;
  z-index: 9998;

  // overflow: scroll;
  &__content {
  }
  &--moving {
    cursor: move;
    box-shadow: 0 5px 2px -3px rgb(138, 145, 150),
      0 5px 5px 1px rgb(138, 145, 150), 0 3px 8px 2px rgb(138, 145, 150);
  }
  &__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    animation: darkened 0.2s ease-in;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
  }
}
@keyframes darkened {
  0% {
      background-color: rgba(0, 0, 0, 0);
  }
  100% {
      background-color: rgba(0, 0, 0, 0.2);
  }
  
}
@keyframes minimize {
  0% {
    height: 60vh;
  }
  100% {
    height: 8%;
  }
}

.figures {
  display: flex;
  justify-content: center;

  // background-color: #16161f;
  height: 4rem;
  color: rgb(166, 166, 179);
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;

  &__visible {
    transform: scaleY(1);
    transition: transform 0.5s ease;
    transform-origin: top;
  }

  &__hidden {
    transform: scaleY(0);
    height: 0;
    overflow-y: hidden;
    transform-origin: top;
    transition: transform 0.5s;
  }

  &:first-child {
    margin-top: 0.5rem;
  }
}

.figure__icon {
  height: 1.5rem;
}

.figures__text {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;

  font-weight: 300;
}
.minimize {
  animation: minimize 0.5s;
  height: 8%;
}
@keyframes maximize {
  0% {
    height: 8%;
  }
  100% {
    height: 60vh;
  }
}
.maximize {
  animation: maximize 0.5s;
  height: 60vh;
}
.figure__content {
  display: flex;
  align-items: center;
  color: rgb(230 230 240);
  margin-top: 1rem;
  padding: 0.1rem 2rem;
  width: 100%;
  transition: 0.5s;
  gap: 1rem;
}

.figure__content:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.options {
  display: flex;

  font-weight: 400;
  font-size: 2.6rem;
  letter-spacing: -0.5px;
  &__objects {
    border-top-left-radius: 10px;
  }

  &__workguide {
    width: 100%;
    border-top-right-radius: 10px;
    // border-top: 1px #555 solid;
    // border-right: 1px #555 solid;
  }
}

.option {
  padding: 1rem 1.5rem;

  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
  cursor: pointer;
  display: flex;

  &__minimize {
    position: absolute;
    z-index: 9999;
    padding-top: 0.7rem;
    padding-right: 1rem;
    cursor: pointer;
    width: 4rem;
    font-size: 4rem;
    top: 0;
    right: 0;
    color: rgb(169, 169, 180);
  }
  &:first-child {
    padding-left: 3rem;
  }
}

.active {
  background-color: #252f39;
  color: #aaa;
  font-weight: 300;
  border: 1px solid rgba(49, 82, 88, 0.2);

  &--objects {
    border-top-left-radius: 30px;
  }

  &--workguide {
    flex: 1;
    border-top-right-radius: 30px;
  }
}

.unactive {
  color: #333;
  font-weight: 300;

  --objects {
    border-top-left-radius: 10px;
  }

  --workguide {
    border-top-right-radius: 10px;
  }
}

.light__weight {
  font-weight: 500;
}

.hr {
  width: 0%;
  margin: -0.5rem auto 0.4rem auto;
  border-color: #3d3d4d70;
}
